# dotted files and directories, including .git and .vscode 
.*

Gruntfile.js

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directory - build it in the container.
node_modules
